$maxWidthContainer: 1270;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

.container {
  width: 1200 / 1440 * 100%;
  margin: 0px auto;
  margin-left: 210 / 1440 * 100%;

  @media (max-width: 1350px) {
    margin-left: auto;
    width: 1380 / 1440 * 100%;
  }

  @media (max-width: 768px) {
    max-width: 688 / 768 * 100%;
  }
}

.about {
  &__description {
    background: #fff;
    padding-bottom: 120px;

    @media (max-width: 1000px) {
      padding-bottom: 70px;
    }
  }

  &__ticket {
    margin-top: 160px;
  }

  &__running-string {
    margin-top: 160px;
    padding-bottom: 120px;

    @media (max-width: 1000px) {
      padding-bottom: 70px;
    }

    @media (max-width: 768px) {
      margin-top: 120px;
    }

    @media (max-width: 400px) {
      margin-top: 80px;
    }
  }

  &__faq {
    background: #fff;
    padding-top: 120px;

    @media (max-width: 1000px) {
      padding-top: 70px;
      padding-bottom: 120px;
    }

    padding-bottom: 160px;
  }
}

.main-about {
  margin-top: 240px;
  padding-bottom: 140px;

  @media (max-width: 1000px) {
    margin-top: 170px;
    padding-bottom: 70px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1050px;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
  }

  &__text {
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    @media (max-width: 1000px) {
      width: 280px;
    }

    @media (max-width: 600px) {
      margin-top: 25px;
      width: 100%;
    }
  }

  &__images {
    display: flex;

    @media (max-width: 1000px) {
      padding-top: 50px;
    }
  }

  &__photo {
    @media (max-width: 600px) {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &__picture {
    margin-left: 24px;
  }
}

.description-about {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;

  @media (max-width: 1000px) {
    padding-top: 70px;
  }

  background: #fff;

  @media (max-width: 1100px) {
    flex-direction: column;
  }

  // .description-about__title
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 25px;

    @media (max-width: 540px) {
      font-size: 28px;
    }
  }

  // .description-about__text
  &__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16 / 14 * 100%;
    flex: 1 1 auto;
  }

  // .desription-about__left
  &__left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;
  }

  &__photo {
    position: absolute;
    bottom: -40px;
    left: 0px;
  }
}

.table-about {
  &__item {
    display: flex;
    align-items: center;
    padding: 40px 30px;
    width: 600px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    font-size: 18px;
    font-weight: 600;

    &:last-child {
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      border-left: 1px solid #000;
    }

    &:hover {
      color: #fff;
      background: #000000;
      transition: all 0.5s ease 0s;
      padding: 40px 70px;
    }

    @media (max-width: 1100px) {
      width: 100%;
    }
  }

  &__number {
    margin-right: 32px;

    @media (max-width: 1100px) {
      font-size: 18px;
    }

    @media (max-width: 540px) {
      font-size: 16px;
    }
  }

  &__text {
    letter-spacing: 1px;

    @media (max-width: 1100px) {
      font-size: 18px;
    }

    @media (max-width: 540px) {
      font-size: 16px;
    }
  }
}

.ticket-about {
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;

  &__main {}

  &__img {
    margin-left: 110px;
  }
}

.main-ticket {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    padding: 40px 0px 0px 40px;
    width: 359px;

    @media (max-width: 1200px) {
      margin-bottom: 25px;
      width: 359px;
    }

    @media (max-width: 650px) {
      width: 100%;
      padding-right: 40px;
      font-size: 28px;
    }
  }

  &__text {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16 / 14 * 100%;
    width: 450px;
    font-size: 14px;

    @media (max-width: 1200px) {
      padding: 0px 0px 0px 40px;
      margin-bottom: 40px;
    }

    @media (max-width: 650px) {
      width: 100%;
      padding-right: 40px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 0px 40px 40px;
    column-gap: 75px;

    @media (max-width: 768px) {
      column-gap: 0px;
    }

    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.item-ticket {
  padding: 0px 40px 0px 0px;

  // .item-ticket__title
  &__title {
    font-weight: 700;
    font-size: 84px;
    text-transform: uppercase;
  }

  // .item-ticket__text
  &__text {
    font-size: 14px;
    line-height: 16 / 14 * 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.running-string {

  // .running-string__marquee
  &__marquee {
    font-weight: 700;
    font-size: 84px;
    line-height: 101 / 84 * 100%;
    text-transform: uppercase;
    white-space: nowrap;

    @media (max-width: 768px) {
      font-size: 64px;
    }

    @media (max-width: 400px) {
      font-size: 34px;
    }
  }
}

.faq-about {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1150px) {
    flex-direction: column;
  }

  // .faq-about__body
  &__body {}

  // .faq-about__content

  &__content {}

  // .faq-about__title

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;

    @media (max-width: 550px) {
      width: 100%;
    }
  }

  // .faq-about__text
  &__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16 / 14 * 100%;
    margin-top: 25px;
    width: 430px;

    @media (max-width: 1150px) {
      margin-bottom: 40px;
    }

    @media (max-width: 550px) {
      width: 100%;
    }
  }

  // .faq-about__img

  &__img {
    width: 204px;
    height: 204px;
    margin-top: 85px;
  }

  // .faq-about__table

  &__table {}
}