@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../../fonts/#{$file_name}.ttf");
      font-weight: #{$weight};
      font-style: #{$style};
    }
}

@include font("Syne", "Syne-Bold", "700", "normal");
@include font("Syne", "Syne-Regular", "400", "normal");
@include font("Arial", "Arial-Regular", "400", "normal");