$maxWidthContainer: 1270;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    //Всегда
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}

.main {
  // .main__container
  &__container {
    width: 1200 / 1440 * 100%;
    margin: 0px auto;
    margin-left: 210 / 1440 * 100%;
    @media (max-width: 1050px) {
      margin-left: auto;
      width: 1380 / 1440 * 100%;
    }
  }

  &__services {
    margin-top: 160px;
  }

  &__about {
    margin-top: 160px;
  }
  &__clients {
    margin-top: 160px;
  }
}
.main-header {
  padding-top: 114px;
  background: #171717;
  color: white;
  width: 100%;
  height: 100vh;
  z-index: -1;

  &__body {
    display: flex;
    justify-content: space-between;
    height: 82vh;
    width: 100%;
  }

  // .main-header__img
  &__img {
    width: 100%;
    background-image: url(../../images/main_page.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    max-width: 650px;
    flex: 1 1 auto;
  }
}
.offer-header {
  position: relative;
  margin: 140px 0px 0px 0px;
  flex: 1 1 auto;
  // .offer-header__title
  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 58 / 48 * 100%;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 25px;
    z-index: 1;
    position: relative;
    @media (max-width: 420px) {
      font-size: 28px;
      text-align: left;
    }
  }

  // .offer-header__text
  &__text {
    font-size: 18px;
    line-height: 21 / 18 * 100%;
    text-transform: uppercase;
    color: #f3f3f5;
    margin-bottom: 50px;
    @media (max-width: 420px) {
      text-align: left;
    }
  }

  &__img {
    z-index: 0;
    top: -80px;
    left: -83px;
    position: absolute;
  }
}
.tablet-body-header-main {
  display: flex;
  justify-content: center;
  height: 82vh;
  width: 100%;
  text-align: center;
}

.cases-main {
  margin-top: 160px;

  // .cases-main__content
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }

  // .cases-main__link
  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    & img {
      width: 16px;
      height: 14px;
      margin-left: 15px;
      margin-bottom: 4px;
    }
  }

  // .cases-main__slider
  &__slider {
  }
}
.cases-offer {
  // .cases-offer__text
  &__text {
    font-size: 14px;
    line-height: 16 / 14 * 100%;
    color: #000000;
  }

  // .cases-offer__title
  &__title {
    font-weight: 700;
    line-height: 100%;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 15px;
  }
}

.cases-slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  align-items: center;
  // .cases-slider__elem

  &__elem {
    & img {
      width: 100%;
    }
  }
  @media (min-width: 1000px) {
    column-gap: 40px;
  }
}

.services-main {
  // .services-main__title

  &__title {
    font-weight: 700;
    line-height: 100%;
    font-size: 48px;
    text-transform: uppercase;
  }
}
.table-services {
  margin-top: 50px;
  // .table-services__elem

  &__elem {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    color: #000000;
    &:last-child {
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
      border-left: 1px solid #000000;
    }
    &:hover {
      color: #fff;
      background: #000000;
      transition: all 0.3s ease 0s;
      // cursor: url(../../images/new-cursor.png), auto  !important;
    }
  }

  // .table-services__text
  &__text {
    font-size: 18px;
    line-height: 21 / 18 * 100%;
  }

  &__price {
    color: #171717;
    opacity: 0.4;
  }
}

.main-about {
  // .main-about__body

  &__body {
  }

  // .main-about__slider

  &__slider {
  }
}
.about-main {
}

.about-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include adaptiv-value("height", 600, 30, 1);
  &__content {
    width: 100%;
    flex: 0 1 auto;
    @include adaptiv-value("margin-right", 220, 0, 1);
  }

  // .about-body__text
  &__text {
    line-height: 16 / 14 * 100%;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__button {
    margin-top: 50px;
    color: #000;
    & img {
      margin-left: 15px;
    }
  }

  // .about-body__title
  &__title {
    font-weight: 700;
    line-height: 100%;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__img {
    width: 100%;
    background-image: url(../../images/about_main.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    max-width: 600px;
    flex: 1 1 auto;
    @media (max-width: 740px) {
      display: none;
    }
  }
}
.about-slider {
  display: flex;

  &__elem {
    margin-left: 15px;
  }
}

.clients-main {
  &__title {
    font-weight: 700;
    line-height: 100%;
    font-size: 48px;
    text-transform: uppercase;
  }

  &__grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  }
}

.clients-grid {
  margin-top: 50px;
}
._empty-clients-grid-item {
  background: white;
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21 / 18 * 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 170px;
}
