$maxWidthContainer: 1270;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

.main {

  &.ru {
    font-family: "Inter";

    button {
      font-family: "Inter";
    }
  }

  &__container {
    width: 1200 / 1440 * 100%;
    margin: 0px auto;
    margin-left: 210 / 1440 * 100%;

    @media (max-width: 1350px) {
      margin-left: auto;
      width: 1380 / 1440 * 100%;
    }

    @media (max-width: 1050px) {
      max-width: 960 / 1050 * 100%;
    }
  }

  &__cases {
    padding-top: 160px;
  }

  &__services {
    padding-top: 130px;
    padding-bottom: 70px;
  }

  &__about {
    padding-top: 120px;
    background: #fff;

    @media (max-width: 700px) {
      padding-top: 40px;
    }
  }

  &__clients {
    padding-top: 160px;
    padding-bottom: 120px;
  }
}

.main-header {
  padding-top: 114px;
  background: #171717;
  color: white;
  width: 100%;
  height: 100vh;

  &__body {
    display: flex;
    justify-content: space-between;
    height: 82vh;
  }

  &__offer {
    margin-top: 140px;

    @media (max-width: 600px) {
      margin-top: 100px;
    }
  }

  &__img {
    width: 100%;
    background-image: url(../../images/main_page.png);
    min-height: 100%;
    width: 600px;

    @media (max-width: 1150px) {
      display: none;
    }
  }
}

.offer-header {
  position: relative;

  &__title {
    font-weight: bold;
    position: relative;
    font-size: 48px;
    line-height: 58 / 48 * 100%;
    width: 450px;
    margin-bottom: 25px;

    @media (max-width: 750px) {
      font-size: 32px;
      width: 100%;
    }
  }

  &__text {
    color: #f3f3f5;
    font-size: 18px;
    line-height: 21 / 18 * 100%;
    margin-bottom: 50px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid #ffffff;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 12px 0px;
    width: 161px;

    @media (max-width: 600px) {
      margin-top: 100px;
      width: 100%;
    }

    svg {
      width: 24px;
      height: 24px;
      margin-left: 15px;
    }

    &:hover {
      background: #fff;
      color: #171717;
      transition: all 0.3s ease 0s;

      svg {
        transition: all 0.3s ease 0s;
        stroke: #171717;
      }
    }
  }
}

@media (max-width: 1000px) {
  .tablet-body-header-main {
    display: flex;
    width: 100%;
    text-align: left;
  }
}

.services-main {
  &__title {
    font-weight: 700;
    line-height: 100%;
    font-size: 48px;

    @media (max-width: 700px) {
      font-size: 28px;
    }
  }

  &__table {
    margin-top: 50px;

    @media (max-width: 700px) {
      margin-top: 25px;
    }
  }
}

.about-body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 700px) {
    flex-direction: column-reverse;
  }

  &__content {
    width: 100%;
    flex: 0 1 auto;
    margin-right: 20px;

    @media (max-width: 700px) {
      margin-top: 25px;
      margin-right: 0px;
    }
  }

  &__text {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16 / 14 * 100%;
    width: 405px;
    white-space: pre-line;

    @media (max-width: 1000px) {
      width: 100%;
    }

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid #171717;
    font-weight: 700;
    font-size: 14px;
    color: #171717;
    padding: 12px 0px;
    width: 182px;
    justify-content: center;
    margin-top: 50px;

    svg {
      width: 24px;
      height: 24px;
      margin-left: 15px;
    }

    &:hover {
      background: #171717;
      color: #fff;
      transition: all 0.3s ease 0s;

      svg {
        transition: all 0.3s ease 0s;
        stroke: #fff;
      }
    }

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    line-height: 100%;
    font-size: 48px;
    margin-bottom: 25px;

    @media (max-width: 700px) {
      font-size: 28px;
    }
  }

  &__img {
    @media (max-width: 1250px) {
      width: 334px;
      height: 360px;
    }

    @media (max-width: 700px) {
      width: 100%;
      height: 100%;
    }
  }
}

.about-slider {
  display: flex;

  &__elem {
    margin-left: 15px;
  }
}

.clients-main {
  background: #fff;

  &__title {
    font-weight: 700;
    line-height: 100%;
    font-size: 48px;
    margin-bottom: 50px;

    @media (max-width: 700px) {
      font-size: 28px;
      margin-bottom: 25px;
    }
  }

  &__grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;

    a {
      color: #000000;
    }

    @media (max-width: 1050px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid #171717;
    font-weight: 700;
    font-size: 14px;
    color: #171717;
    padding: 13px 0px;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
  }

  &__icon {
    width: 18px;
    margin-left: 15px;
  }
}

.quote-main {
  background: #dae4ff;
  padding: 120px 0px;

  &__text {
    max-width: 670px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29 / 24 * 100%;
    color: #171717;

    @media (max-width: 1050px) {
      width: 100%;
      max-width: 800px;
    }
  }

  @media (max-width: 850px) {
    padding: 120px 0px;
    font-size: 16px;
  }
}