.cases {
  margin-top: 190px;
  margin-bottom: 170px;

  &__container {
    width: 1200 / 1440 * 100%;
    margin: 0px auto;
    margin-left: 210 / 1440 * 100%;

    @media (max-width: 1050px) {
      margin-left: auto;
      width: 1380 / 1440 * 100%;
    }
    
    @media (max-width: 900px) {
      width: 688 / 768 * 100%;
    }
  }
}

.text-cases {
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-top: 15px;
  }
}
.cases-content {
  margin-top: 50px;
}

.tablet-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 14px;
  margin-top: 40px;

  @media (max-width: 530px) {
    grid-template-columns: 1fr;
  }
}
