.case {
    margin-top: 190px;
    margin-bottom: 170px;

    &.ru{
        font-family: "Inter";
      }

    &__container {
        width: 1200 / 1440 * 100%;
        margin: 0px auto;
        margin-left: 210 / 1440 * 100%;

        @media (max-width: 1050px) {
            margin-left: auto;
            width: 1380 / 1440 * 100%;
        }

        @media (max-width: 1050px) {
            max-width: 960 / 1050 * 100%;
          }
    }

    &__return {
        width: 210px;

        img {
            transform: rotate(90deg);
            width: 28px;
            height: 13px;
            margin-bottom: 3px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        width: 450px;
        margin-top: 50px;

        @media (max-width: 600px) {
            width: 100%;
        }
    }
}

.return-link {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.contacts-case {
    margin-top: 170px;

    &__text {
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        width: 950px;

        @media (max-width: 1000px) {
            width: 100%;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        border-radius: 100px;
        border: 1px solid #000;
        font-weight: 700;
        font-size: 14px;
        padding: 12px 22px;
        margin-top: 40px;
        justify-content: center;

        svg {
            width: 24px;
            height: 24px;
            margin-left: 15px;
        }

        &:hover {
            background: #171717;
            color: #fff;
            transition: all 0.3s ease 0s;

            svg {
                stroke: #fff;
                transition: all 0.3s ease 0s;
            }
        }

        @media (max-width: 450px) {
            width: 100%;
        }
    }
}